
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" id="homepage_container">
  <div class="center jumbotron">
    <h1 class="display-flex font-weight-normal index_link"><%= link_to 'Alpha Blog', articles_path%></h1>
    <a class="btn btn-success" href="#">Create an Account</a>
  </div>
</div>
